<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name="com.normalexception.app.rx8club.MainApplication"
    package="com.normalexception.app.rx8club"
    android:installLocation="auto"
    android:versionCode="20007"
    android:versionName="2.01.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.normalexception.app.rx8club.MainApplication"
        android:allowClearUserData="true"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/rotor_icon"
        android:label="@string/app_name"
        android:testOnly="false"
        android:theme="@android:style/Theme.Holo"
        android:vmSafeMode="false" >
        <activity 
            android:name="com.normalexception.app.rx8club.activities.MainActivity"
            android:launchMode="singleInstance" 
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
            	<action android:name="android.intent.action.MAIN" />
            	<category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
        </activity>
    </application>

</manifest>