<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name="com.normalexception.forum.MainApplication"
    package="com.normalexception.forum.rx8club"
    android:installLocation="auto"
    android:versionCode="1023"
    android:versionName="1.0.23" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name="MainApplication"
        android:description="@string/app_description"
        android:icon="@drawable/rotor_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:testOnly="false" 
        android:debuggable="false" 
        android:vmSafeMode="false" 
        android:allowClearUserData="true">
        <activity 
            android:name=".activities.LoginActivity" 
            android:icon="@drawable/rotor_icon" 
            android:label="@string/title_activity_main"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".activities.CategoryActivity"
            android:label="@string/title_activity_category"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".activities.ThreadActivity"
            android:label="@string/title_activity_thread"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        
        <activity
            android:name=".activities.NewPostsActivity"
            android:label="@string/title_activity_new_posts"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
    </application>

</manifest>